.itembody {
    margin: 0%;
    padding: 50px;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: rgb(255, 255, 255);
}
.slider{
    width: 700px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 700px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 680px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: rgb(0, 0, 0);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 680px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

}

.navigation-auto div:not(:last-child){
    margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(0, 0, 0);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(0, 0, 0);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(0, 0, 0);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: rgb(0, 0, 0);
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%;
}
  
.container img {
    width: 100%;
    height: 100%;
}

.container .btna {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 12px;
}
  
.container .btna:hover {
    background-color: #555;
    text-decoration: none;
}