{% extends 'myapp/main.html' %}
{% load static %}
{% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NEW ARRIVAL</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  
  <link rel = "stylesheet" type="text/css" href="{% static 'css/arrival.css' %}">
  <link rel = "stylesheet" type="text/css" href="{% static 'css/news.css' %}">

</head>

<div class="container">
  <div class="itembody">
      <div  class="slider">
          <div class="slides">
              <input type="radio" name="radio-btn" id="radio1">
              <input type="radio" name="radio-btn" id="radio2">
              <input type="radio" name="radio-btn" id="radio3">
              <input type="radio" name="radio-btn" id="radio4">

              <div class="slide first">
                  <img src="https://i.pinimg.com/originals/10/dd/11/10dd11b51376d2b563996cdef3422e62.jpg" alt="">
              </div>
              <div class="slide">
                  <img src="https://i.pinimg.com/originals/0e/0e/6d/0e0e6de7ea9e2e96086f36178b716e24.jpg" alt="">
              </div>
              <div class="slide">
                  <img src="https://i.pinimg.com/originals/60/c1/1a/60c11adf7bb14ecd7b22dafd94c244cf.jpg" alt="">
              </div>
              <div class="slide">
                  <img src="https://i.pinimg.com/originals/47/63/fb/4763fb84e92717443b4a19a37bc09f76.jpg" alt="">
              </div>
              <div class="navigation-auto">
                  <div class="auto-btn1"></div>
                  <div class="auto-btn2"></div>
                  <div class="auto-btn3"></div>
                  <div class="auto-btn4"></div>
              </div>
            </div>
          <div class ="navigation-manual">
              <label for="radio1" class="manual-btn"></label>
              <label for="radio2" class="manual-btn"></label>
              <label for="radio3" class="manual-btn"></label>
              <label for="radio4" class="manual-btn"></label>
            </div>
      </div>

      <script type="text/javascript">
        var counter=1;
        setInterval(function(){
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if(counter > 4){
                counter = 1;
            }
        }, 5000);
        </script>

      <a href="{% url 'new_arrival01' %}" class="btna">READ MORE+++</a>

      <span>
          <h1 style="margin-left: 20px;font-size: 25px;margin-top: 30px;margin-left: 40px;text-align: center;">
            STAN SMITH SHOES <br>
            WITH DISNEY'S LITTLE GREEN <br> MONSTER, MIKE</h1>
            <hr style="width:80%;height:1px;color:black;background-color:black;margin-top: 10%;margin-left: 70px;margin-bottom: 10%;">
          <p style="text-align: center;margin-left: 40px;">Stan Smith sneakers, prove otherwise. <br> Featuring a PRIMEGREEN upper made with 50% <br>
            recycled content, the collection playfully mixes <br> style with sustainability.</p>
       </span>
    </div>
</div>

<hr style="width:90%;height:2px;color:black;background-color:black;margin-top: -10%;margin-left: 5%;">

<div class="news">
  <p2 style="font-size:40px;margin-top: -10%; margin-left: 5%;text-align: left;margin-bottom: 2px;margin-left: 10%;">NEWS</p2>
  <div class="section-area-grid" style="margin-top: 2px;align-items: center;margin-left: 40px;">
      <div class="container">
          <div class="section-area-grid" style="margin-left: 10%;">
              <div class="section-grid-item">
                  <div class="section-item-img">
                      <a href="product"><img src="https://i.pinimg.com/originals/d7/a0/a2/d7a0a2b6d6b450a09475c89915c9e089.jpg" alt=""></a>
                      <h2 class="title">
                          STAY ON TOP OF YOUR GAME 
                      </h2>
                      <p>Train with confidence this spring.
                      </p>
                  </div>
              </div>
              <div class="section-grid-item">
                  <div class="section-item-img">
                      <a  href="#"><img src="https://i.pinimg.com/originals/aa/2f/7d/aa2f7d82420abf3d8f53c24625b5c253.jpg" alt=""></a>
                      <h2 class="title">
                          END PLASTIC WASTE 
                      </h2>
                      <p>TERRA LOVE: Ultraboost DNA created with Primeblue, made in part with parley Ocean Plastic.
                      </p>
                  </div>
              </div>
              <div class="section-grid-item">
                  <div class="section-item-img">
                      <a  href="#"><img src="https://i.pinimg.com/originals/bb/ac/aa/bbacaa1c67b70827da9ecab989a19fd4.jpg"></a>
                      <h2 class="title">
                          PHARREL PREMIUM BASICS 
                      </h2>
                      <p>A range of reeimagined basics for everyday wear.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <hr style="width:90%;height:2px;color:black;background-color:black;margin-top: 0%;margin-left: 5%;">

  <div class="container">
    <div class="itembody">
        <div  class="slider">
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">

                <div class="slide first">
                    <img src="https://i.pinimg.com/originals/80/c7/6f/80c76ff5493bd2033ab40ee7ffcc981b.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="" alt="">
                </div>
                <div class="slide">
                    <img src="" alt="">
                </div>
                <div class="slide">
                    <img src="" alt="">
                </div>
              </div>
            <div class ="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
              </div>
        </div>

        <a href="{% url 'new_arrival02' %}" class="btna">READ MORE+++</a>

        <span>
            <h1 style="margin-left: 20px;font-size: 25px;margin-top: 30px;margin-left: 40px;text-align: center;">
              NIKE OVERBREAK SP  <br>
              (DA9784-201)<br> </h1>
              <hr style="width:80%;height:1px;color:black;background-color:black;margin-top: 10%;margin-left: 70px;margin-bottom: 10%;">
            <p style="text-align: center;margin-left: 40px;">
              Merging the iconic BRS track aesthetic with the <br>
              hyper-modern Nike OverReact tooling, the Nike <br>
              OverBreak SP delivers head-turning style and <br>
              unrivaled comfort. Its synthetic suede overlays <br>
              feature gradient dying for added sophistication <br>
              while the multicolored rope laces and <br>
              translucent toe cap exaggerate your <br>
              expression.
            </p>
         </span>
       </div>
       
     </div>

  </div>


{% endblock content %}