{% extends 'myapp/main.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    
    <link rel = "stylesheet" type="text/css" href="{% static 'css/arrival.css' %}">
    <link rel = "stylesheet" type="text/css" href="{% static 'css/news.css' %}">
  
  </head>

    <div class="About">

        </div>
        <div class="banner">
            <img src = "https://i.pinimg.com/originals/60/5c/6b/605c6b6f01dd565b4fe8c773d8ec1eb1.jpg" alt="" width=100% height=10% >
        </div>
        
        <br>
        <br>
        <br>
        <div class="container pt1">
        <br>
                <img src = "https://i.pinimg.com/originals/6b/e1/c9/6be1c9c4124f22cc02086b15f45abea0.jpg" alt=""  width=100% height=100% ></img>
        </div>
        
        <div class="container bg-dark ">
            <hr  size="6" width="100%"   />
        </div>
        
        
        <div class="container pt1">
            <br>
            <img src = "https://i.pinimg.com/originals/a7/93/23/a79323f42c2de39a6679fd8176af59f9.jpg" alt="" width=100% height=100%></imgimg>
        </div>
        
        <div class="container bg-dark ">
            <hr  size="6" width="100%"   />
        </div>
        
        <div class="container-fluid">
            <img src = "https://i.pinimg.com/originals/f4/65/45/f46545bd88a158e854aaccedbfebc3d1.jpg" alt=""  ></imgimg>
        </div>
        <div>
            <img src = "https://i.pinimg.com/originals/3b/5c/c1/3b5cc1448560a2d2df512f863045c157.jpg" alt="" width=100% height=100%></imgimg>
        </div>   
      </div>

{% endblock content %}