{% extends 'myapp/main.html' %}
{% load static %}
{% block content %}


<div class="img-fluid " >
    <img src="{% static 'images/page/SNEAKERS X home.svg'%}" class="img-fluid" style="width: 100%;height: auto;" alt="">
</div>
<br>

<div class="container ">
<div class="row mb-3">
    <div class="col-8">
        <h1><span class="text-muted">Search result for </span>{{request.GET.q}}</h1>
    </div>

</div>

<div class="container bg-dark">
    <hr size="6">
</div>

<br>

<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        
        {% for i in data %}
            
            
            <div class="col">
                <div class="card " style="max-width: 290px;" >
                    <a href="{% url 'productt' i.id %}"><img src="{{ i.image_1.url }}" class="rounded" alt="" style="width: 100%;"></a>
                    <div class="card-body">
                        <p class="card-text">{{i.brand}}</p>
                        <p class="card-text">{{i.model}}</p>
                        <h1 class="card-title">{{i.price|floatformat:0}} THB</h1>
                        <p class="card-text">SELLER {{i.seller}}</p>
                    </div>
                </div>
            </div>
            
            
        {% endfor %} 
        
    </div>

</div>
</div>

{% endblock content %}