{% extends 'myapp/main.html' %}
{% load static %}
{% block script %}    
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/all.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="images">
        <img src="{% static 'images/page/SNEAKERS X list.png'%}" class="img-fluid" style="width: 100%;height: auto;"alt="">
    </div>
     
    <div class="container " style="margin-top: 2%;">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
          <div class="col ">
            <div class="dropdown" style="width: 100%;">
              <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;">
                Filter :
              </a>
            
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 100%;">
                <li><a class="dropdown-item" href="{% url 'hightop' %}">High Top Sneaker</a></li>
                <li><a class="dropdown-item" href="{% url 'lowtop' %}">Low Top Sneaker</a></li> 
                <li><a class="dropdown-item" href="{% url 'slipper' %}">Slipper</a></li>
              </ul>

            </div>
        </div>

          <div class="col ">
            <div class="dropdown" style="width: 100%;">
                <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;">
                  Sort By:
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 100%;">
                  <li><a class="dropdown-item" href="/product_list/1">Highest Price</a></li>
                  <li><a class="dropdown-item" href="/product_list/2">Lowest Price</a></li>
                  <li><a class="dropdown-item" href="/product_list/3">Tranding Now</a></li>
                </ul>
              </div>
          </div>
        </div>
    </div>

   
    <div class="container" style="margin-top:3%;">
      <nav aria-label="breadcrumb ">
          <ol class="breadcrumb ">
            <li class="breadcrumb-item "><a href="{% url 'homey' %}" class="text-reset" style="text-decoration: none; font-family: Roboto; font-size: 24px;">Homepage</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="font-family: Roboto; font-size: 24px;">Slipper</li>
          </ol>
      </nav>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">

                <div class="col">
                    <div class="card " style="max-width: 290px;" >
                        <a href="/product/21"><img src="https://i.pinimg.com/originals/a4/7f/ca/a47fca73d7a97fdbbb620ca9542ad085.png" class="rounded" alt="" style="width: 100%;"></a>
                        <div class="card-body">
                            <p class="card-text">VANS</p>
                            <p class="card-text">SLIDE-ON SANDALS</p>
                            <h1 class="card-title">1413 THB</h1>
                            <p class="card-text">SELLER 36</p>
                        </div>
                    </div>
                </div>    
                
                <div class="col">
                  <div class="card " style="max-width: 290px;" >
                      <a href="/product/36"><img src="https://i.pinimg.com/originals/d5/a8/a2/d5a8a227cbe997f6fa2a0ad933604a60.png" class="rounded" alt="" style="width: 100%;"></a>
                      <div class="card-body">
                          <p class="card-text">OFF-WHITE</p>
                          <p class="card-text">ODSY SANDALS</p>
                          <h1 class="card-title">25337 THB</h1>
                          <p class="card-text">SELLER 12</p>
                      </div>
                  </div>
              </div> 

        </div>
        </div>
    

    </div>

{% endblock content %}